<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy : Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
    <div class="container-fluid">
        <header class="header">
            <div class="banner">Pay My Buddy</div>
            <nav class="navbar navbar-default pull-right">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="pay_my_buddy_layouts/layouts/Pics/logoPMB.png" alt="Logo - Pay My Buddy" class="logoBanner">
                    </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="transfer.html">Transfer</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="logoff.html">Log off</a></li>
                </ul>
                </div>
            </nav>
        </header>
        <section>
            <a class="btn btn-primary" href="http://www.google.com">Add Connection</a>
            <button type="button" class="btn btn-success">Pay</button>

        </section>
    </div>
</body>
</html>