<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pay My Buddy : Login page </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style type="text/css">
        #loginBox {
            margin-top: 80px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
            width: fit-content;
            border: 1px solid black;
            }

            #loginBox img {
                margin-bottom: 3em;
            }
    </style>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="text-light bg-dark pt-23 text-center" style="height: 2em">Pay My Buddy</div>
    </header>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <!--
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    -->
    <div>
        <div id="loginBox">
            <img src="logoPMB.png" alt="Logo - Pay My Buddy">
            <p th:if="${loginError}" class="error">Wrong user or password</p>
            <form th:action="@{/login}" method="post" class="form-horizontal">
                <div class="form-group">
                    <input type="text" name="userEmail" id="userEmail" placeholder="&#x1F4E7 Email" class="form-input">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password"
                           class="form-input">
                </div>
                <div>
                    <label for="rememberMeCheck" class="form-check-label">Remember me</label>
                    <input type="checkbox" class="form-check-input" id="rememberMeCheck">
                </div>
                <div>
                    <button type="submit" value="Sign In" class="btn btn-success btn-sm">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>