<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pay My Buddy : Login page </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<!--ID pour CSS, name pour server-->
    <style type="text/css">
    #loginBox {
            padding-left: 120px;
            padding-right: 120px;
            padding-top: 1em;
            padding-bottom: 1em;
            width: 30%;
            border: 1px solid black;
            margin-top: 3em;
            }

    .logo {
        margin-top: 1em;
        margin-bottom: 1em;

        width: 15em;
        }

    .formBox {
        margin-top: 2em;
        margin-bottom: 3em;
    }

    .center{
    margin: auto;
    }
    </style>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="text-light bg-dark pt-23 text-center" style="height: 2em">Pay My Buddy</div>
    </header>
    <div id="loginBox" class="center text-center">
        <!--
        <img src="logoPMB.png" alt="Logo - Pay My Buddy" class="logo">
        -->
        <form th:action="@{/login}" method="post">
            <div class="formBox">
                <input type="text"  name="userEmail" placeholder="&#x1F4E7 Email" class="form-input">
            </div>
            <div class="formBox">
                <input type="password" name="password" placeholder="&#10034 Password"
                       class="form-input">
            </div>
            <div>
                <input type="checkbox" class="form-check-label center" id="rememberMe">
                <label for="rememberMe" class="form-check-label">Remember me</label>
            </div>
            <div class="formBox">
                <button type="submit" value="Sign In" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>